body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #171C26;
    padding: 16px;    

}

.navitem{
    display: inline;
    align-items: center;
    font-weight: bold;
    color: #fff;
}

.navitem a{
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    font-size: medium;
}
.navitem a:hover{
    color: #E95420;
    transition: 1s;
 }

#logo{
    width: 30px;
}

#footer-logo{
    width: 130px;
}

.navlogo{
    display: inline;
    align-items: center;
    font-weight: bold;
}

.navlogo a{
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
}

/* First Jumbotron */
.banner-grid-container{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    background-image: url('../img/background/bg01.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-grid-item{
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: rgba(23,28,38, 0.75);
}

.banner-flex-container{
    display: flex;
    flex-wrap: wrap;
}

.banner-flex-item{
    flex: 1;
    text-align: center;
}

.banner-flex-item1{
    flex: 100%;
}
.banner-head-one{
    display: inline;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #E95420;
    color: white;
    margin: 0 !important;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.banner-flex-item2{
    flex: 100%;
}

.banner-head-two{
    display: inline;
    font-size: 8rem;
    font-weight: bold;
    color: #E95420;
}

#span-head2{
    color: white;
}

.banner-flex-item3{
    flex: 100%;
    text-align: center;
}

.banner-text-one{
    display: inline-block;
    font-size: 1rem;
    width: 80%;
    margin-top: 0 !important;
    color: white;
}

.banner-flex-item4{
    flex: 100%;
    margin-bottom: 1.3em;
}

.banner-register-button{
    display: inline;
    color: #E95420;
    
    font-weight: bold;
    border: 2px solid #E95420;
    padding: 6px 14px;
}

.banner-register-button:hover{
    
    color:#fff;
    font-weight: bold;
}

.banner-register-button a{
    text-decoration: none;
    color: #E95420;
}

.banner-register-button a:hover{
    text-decoration: none;
    color:#fff;
}

.banner-flex-item5{
    flex: 100%;
}

/* Tournamnet div */


.logo-line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-line img {
    width: 120px; 
    margin: 0 30px; 
}

/* Galley */
.gallery-grid{
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin-top: 1rem;
    background-color: #171C26;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
}

.gallery-grid-item{
    display: flex;
    flex-wrap: wrap;
}

.gallery-flex-item{
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img-box{
    width: 192px;
    height: 256px;
    box-shadow: 0 10px 20px rgb(40, 40, 40);
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.gallery-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gallery-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background-color: black;
    cursor: pointer;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.game-name{
    font-weight: bold;
    font-size: 1rem;
}
.gallery-img-box:hover .gallery-img-overlay{
    opacity: 0.8;
    border-radius: 10px;
}

.games-head{
    font-weight: bold;
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    background-color: #171C26;
    margin: 0;
}

/* Banner */


.subscribe-banner{
    background: linear-gradient(-55deg, #E95420 29%,  #171C26 58%, #171C26 68.1%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.subscribe-head{
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}

.subscribe-head-sub{
    color: #171C26;
}

.sub-input{
    border: 2px solid white;
}

.email-input{
    background: #171C26;
    padding: 10px 16px;
}

.email-input:focus{
    outline: none;
}

.email-input::placeholder{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.submit-input{
    padding: 10px 20px;
    background: none;
    border: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}

.gaming-team-div{
    background-color: #1F2633;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.gaming-team-grid{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.gaming-team-grid-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gaming-flex-item{
    flex: 100%;
}

.gaming-team-head{
    font-weight: bold;
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    margin: 0;
}

.team-img-box{
    width: 383px;
    height: 477px;
    box-shadow: 0 10px 20px rgb(233, 84, 32);
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.team-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gaming-team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    transition: opacity 0.4s ease-in-out;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
}

.team-img-box:hover .gaming-team-overlay{
    opacity: 0;
}

.team-img-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.team-name{
    font-weight: bold;
    font-size: 3rem;
    color: #E95420;
}

/* Rewards */
.rewards-div{
    background-color: #171C26;

}

.rewards-grid{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.rewards-grid-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rewards-flex-item{
    flex: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rewards-heading{
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
}

.rewards-subhead{
    color: #E95420;
}

.trophy-img-box{
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.trophy-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.trophy-name{
    font-weight: bold;
    color: #E95420;
    text-align: center;
}

/* Services Div */
.services-div{
    background-color: #1F2633;
}

.services-grid{
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0 auto;
    display: grid;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.services-grid-item{
    display: flex;
    flex-wrap: wrap;
}

.services-flex-item{
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-service{
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #E95420;
    border: 0;
}

.to-service:hover{
    background-color: #E95420;
    color: #fff;
}

.console{
    width: 200px;
}


/* footer */
.footer {
    list-style-type: none;
    float: right;
    display: inline-flex;
}

.footeritem {
    font-weight: bold;
}

.footeritem a {
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
}

#socials{
    float: right;
}

.social-container {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: rgb(50, 50, 50);
    border-radius: 100%;
    margin-right: 10px;
    text-align: center;
}

.social-container:hover {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: #E95420;
    border-radius: 100%;
    margin-right: 10px;
    text-align: center;
    transition: 1s;
}

.social-img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.footeritem a:hover {
    color: #E95420;
    transition: 1s;
}

#copyright{
    color: white;
    float: left;
}

#inlineDiv {
    display: inline;
    color: white;
    padding-left: 10px;
}

footer {
    height: 100px;
    padding: 16px;
    background-color: #171C26;
}




/* Desktop Media Query */
@media screen and (max-width: 1126px) {
    .gallery-grid{
        width: 100%;
    }
}

@media screen and (max-width: 1454px) {
    .gaming-team-grid{
        width: 100%;
    }
}

@media screen and (max-width: 1204px) {
    .team-img-box{
        width: 300px;
        height: 400px;
    }

    .rewards-grid{
        width: 100%;
    }
}

@media screen and (max-width: 948px) {
    .team-img-box{
        width: 230px;
        height: 300px;
    }
}

@media screen and (max-width: 1014px) {
    .gallery-grid{
        grid-template-columns: repeat(4,1fr);
    }

    .gallery-img-box{
        width: 155px;
        height: 210px;
    }

    .games-head{
        font-size: 2rem;
    }
    .gaming-team-head{
        font-size: 2rem;
    }
    .rewards-grid{
        grid-template-columns: 1fr 1fr;
    }

    .rewards-grid-item{
        padding-bottom: 4rem;
    }

    .rewards-heading-grid{
        display: none;
    }
}

/* Tab View */
@media screen and (max-width: 814px) {
    .gallery-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .controller-img{
        width: 400px;
    }
}

@media screen and (max-width: 750px) {
    .gaming-team-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 710px){
    .subscribe{
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 420px) {
    .gallery-grid{
        grid-template-columns: 1fr;
    }
    .games-head{
        font-size: 1.2rem;
    }
    .gaming-team-head{
        font-size: 1.2rem;
    }
    .rewards-grid{
        grid-template-columns: 1fr;
    }
}


/* Tablet View */
@media only screen and (max-width: 768px) {
    

    .small-jumbotron-heading{
        font-size: 2rem;
    }

    .banner-text-one{
        font-size: .8rem;
    }

    .logo-line img{
        width: 90px;
    }
}

/* Mobile View */
@media screen and (max-width: 486px) {
    .gaming-team-grid{
        grid-template-columns: 1fr ;
    }
}



@media only screen and (max-width: 720px){
    .banner-head-two{
        display: inline;
        font-size: 4rem;
        font-weight: bold;
        color: #E95420;
    }

    .logo-line{
        display: block;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 620px) and (min-width: 461px) {

    .banner-head-one{
        font-size: 1rem;
    }
    .banner-head-two{
        display: inline;
        font-size: 3rem;
        font-weight: bold;
        color: #E95420;
    }

    .small-jumbotron-heading{
        font-weight: bolder;
        font-size: 1.8rem;
        text-align: left;
        display: flex;
        padding-left: 10px;
        margin: 0 auto;
        justify-content: center;
        color: #fff;
    }

    /* Footer */
    .footer{
        display: block;
        float: left;
        padding: 0px 0px 0px 10px;
    }

    .footeritem a {
        text-decoration: none;
        color: #fff;
        padding: 0px 0px;
    }

    .footeritem a:hover {
        color: #E95420;
        transition: 1s;
    }

    
    .social-container {
        height: 30px;
        width: 30px;
        display: inline-block;
    }

    .social-container:hover {
        height: 30px;
        width: 30px;
        display: inline-block;
        background-color: #E95420;
        transition: 1s;
    }

    #socials{
        margin: 20px 10px;
        padding: 0px;
        float: none;
    }

    #copyright{
        padding: 0px 0px 0px 10px;
        float: none;
        color: white;

    }

    #inlineDiv {
        display: flex;
        color: white;
        padding-left: 10px;
    }

    footer {
        height: 220px;
        padding: 16px;
        background-color: black;
        display: block;
    }
}



@media only screen and (max-width: 460px){
    

    /* Navbar */
    .navitem{
        display: inline;
        align-items: center;
        font-weight: bold;
        color: #fff;
    }
    
    .navitem a{
        text-decoration: none;
        color: #fff;
        padding: 14px 10px;
        font-size: small;
    }
    .navitem a:hover{
        color: #E95420;
        transition: 1s;
     }

    /* Footer */
    .footer{
        display: block;
        float: left;
        padding: 0px 0px 0px 10px;
    }

    .footeritem a {
        text-decoration: none;
        color: #fff;
        padding: 0px 0px;
    }

    .footeritem a:hover {
        color: #E95420;
        transition: 1s;
    }

    
    .social-container {
        height: 30px;
        width: 30px;
        display: inline-block;
    }

    .social-container:hover {
        height: 30px;
        width: 30px;
        display: inline-block;
        background-color: #E95420;
        transition: 1s;
    }

    #socials{
        margin: 20px 10px;
        padding: 0px;
        float: none;
    }

    #copyright{
        padding: 0px 0px 0px 10px;
        float: none;
        color: white;

    }

    #inlineDiv {
        display: flex;
        color: white;
        padding-left: 10px;
    }

    footer {
        height: 220px;
        padding: 16px;
        background-color: black;
        display: block;
    }
}

@media only screen and (max-width: 375px){
    /* Navbar */
    .navlogo a{
        padding: 14px 5px;

    }

    .homepage-heading {
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 0 !important;
        color: #E95420;
    }
    .small-jumbotron-heading{
        font-size: 2rem;
    }

    /* to change nav */
    .navitem{
        display: inline;
        align-items: center;
        font-weight: bold;
        color: #fff;
    }

    .navitem a{
        text-decoration: none;
        color: #fff;
        padding: 14px 5px;
        font-size: small;
    }
    .navitem a:hover{
        color: #E95420;
        transition: 1s;
    }
}

@media only screen and (max-width: 320px){
    .small-jumbotron-heading{
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 246px) {
    .small-jumbotron-heading{
        font-weight: bolder;
        font-size: 1rem;
        text-align: left;
        display: flex;
        padding-left: 10px;
        margin: 0 auto;
        justify-content: center;
        color: #fff;
    }

    .footer{
        display: block;
        float: left;
        padding: 0px 0px 0px 10px;
    }

    .footeritem a {
        text-decoration: none;
        color: #fff;
        padding: 0px 0px;
    }

    #socials{
        padding: 0px;
        float: none;
        display: block;
    }

    footer {
        height: 320px;
        padding: 16px;
        background-color: black;
        display: block;
    }
}
