/* Services Head Grid */
.services-head-grid{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.services-head-grid-item{
    display: flex;
    flex-wrap: wrap;
    background-color: #F9FBFC;
}

.services-head-flex-item{
    flex: 100%;
}

.services-head{
    font-size: 4rem;
    font-weight: bold;
    color: #E95420;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.sub-services-head{
    font-size: 2rem;
    font-weight: bold;
    color: #77216F;
    text-align: center;
    margin-top: 0;
}

.services-content{
    text-align: center;
    margin-top: 0;
    padding-left: 15rem;
    padding-right: 15rem;
}

/* Card Grid */
.card-grid{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.card-grid-item{
    display: flex;
    flex-wrap: wrap;
}

.card-flex-item{
    flex: 100%;
    padding: 2rem;
}

.detail-card-item{
    padding: 1.8rem;
    border-radius: 1rem;
    background-color: #F7F7F7;
}

.card-head{
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

.card-head-desc{
    color: #000;
    font-size: .9rem;
    font-weight: bold;
}

.card-logo{
    width: 3rem;
    padding: .6rem;
}




/* Figure Card */
.figure-grid{
    margin: 0 auto;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 10px;
}

.figure-grid-item{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.figure-flex-item{
    flex: 100%;
}

.figure-head{
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    color: #E95420;
}

.figure-head-desc{
    font-size: 1.5rem;
    margin: 0;
    color: #77216F;
}

/* Join Grid */
.join-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

.join-grid-item{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.join-flex-item{
    flex: 100%;
}

.join-head{
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.join-logo{
    width: 4rem;
}

.join-head-desc{
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
}

/* Sponsors Grid */
.sponsor-grid{
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sponsor-grid-item{
    flex-wrap: wrap;
    display: flex;
    background-color: #F7F7F7;

}

.sponsor-flex-item{
    flex: 100%;
}

.sponsor-name{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.sponsor-head{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: #E95420;
    text-align: center;
}


/* Subscribe grid */
.subscribe-grid{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 1rem;
}

.subscribe-grid-item{
    display: flex;
    flex-wrap: wrap;
}

.subscribe-flex-item{
    flex: 100%;
}

.subscribe-head{
    font-weight: bold;
    font-size: 1.2rem;
    color: #77216F;
    text-align: center;
}

.form-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    padding: 10px 16px;
    border: 2px solid #77216F;
    border-radius: 10px;
}

input:focus{
    outline: 0;
}

#submitbtn{
    background: #E95420;
    color: white;
    border: 0;
}

/* Desktop 1024 */
@media only screen and (max-width: 1024px)  {
    .services-content{
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .card-grid{
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }

    .card-head{
        font-size: 1rem;
    }

    .card-head-desc{
        font-size: .8rem;
    }

    .detail-card-item{
        padding: 1.2rem;
    }

    .figure-head{
        font-size: 3rem;
        font-weight: bold;
        margin: 0;
        color: #E95420;
    }
    
    .figure-head-desc{
        font-size: 1rem;
        margin: 0;
        color: #77216F;
    }

    .join-head{
        font-size: 2rem;
    }
}

/* Tab */
@media only screen and (max-width: 768px)  {

    .services-head{
        font-size: 3rem;
    }

    .sub-services-head{
        font-size: 1.5rem;
    }
    .services-content{
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 1.1rem;
    }

    .card-grid{
        gap: 0px;
        grid-template-columns: 1fr 1fr;
    }

    .detail-card-item2{
        display: none;
    }

    .card-flex-item{
        padding: 1rem;
    }
    
    .figure-grid{
        width: 100%;
    }

    .join-head{
        font-size: 1.5rem;
    }

    .join-logo{
        width: 2.3rem;
        margin-bottom: 0;
    }
    
    .join-head-desc{
        font-size: .9rem;
        margin-top: 0;
    }

    .sponsor-grid{
        display: grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .sponsor-name{
        margin-top: 0;
        font-size: 1.5rem;
    }
}

/* Mobile */
@media only screen and (max-width: 425px)  {

    .services-head{
        font-size: 2.3rem;
    }

    .sub-services-head{
        font-size: 1.3rem;
    }

    .services-content{
        font-size: 1rem;
    }
    .card-grid{
        gap: 0px;
        grid-template-columns: 1fr;
    }

    .services-content{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .figure-grid{
        grid-template-columns: 1fr;
    }

    .join-grid{
        grid-template-columns: 3fr ;
    }

    .sponsor-grid{
        display: grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr  ;
    }

    .sponsor-name{
        margin-top: 0;
        font-size: 1.2rem;
    }
}

/* Mobile */

@media only screen and (max-width: 768px)  {

    .services-content{
        font-size: .8rem;
    }
    .services-content{
        padding-left: 0rem;
        padding-right: 0rem;
    }
}