/* Services  */
.services-div{
    background-color: #171C26;
}

.services-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    gap: 10px;
}

.services-grid-item{
    display: flex;
    flex-wrap: wrap;
}

.services-flex-item{
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-img-card{
    width: 220px;
    height: 150px;
}

.service-img{
    width: 100%;
    height: 100%;
}

.service-img-head{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0;
}

.services-head{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: white;
}

/* table */
.table-div{
    background-color: #1f2633;
    padding-bottom: 2rem;
}

.table-grid{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    width: 80%;
}

.table-grid-item{
    display: flex;
    flex-wrap: wrap;
    
}

.table-flex-item{
    flex:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table,td,tr,th{
    border-bottom: 2px solid #95acda;
    color: white;
    border-collapse: collapse;
    padding: 10px 16px;
}


td{
    text-align: center;
}
table{
    width: 60%;
}

.plan-grid{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    padding-top: 2rem;
    gap: 20px;
}

.plan-grid-item{
    display: flex;
    flex-wrap: wrap;
}

.plan-flex-item{
    flex: 100%;
}

.plan-div{
    background-color: #171C26;
    padding-bottom: 2rem;
}

.plan-card{
    background-color: #1f2633;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
}

.plan-name{
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.plan-price{
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.plan-duration{
    color: #95acda;
    font-weight: bold;
    font-size: .9rem;
}

.plan-btn{
    background-color: #95acda;
    padding: 10px 20px;
    width: 9rem;
    border: 0;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    font-size: 1.2rem;
}

/* Desktop View */

@media screen and (max-width:1024px) {
    .services-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .table-grid{
        width: 100%;
    }

}

/* Tab View */
@media screen and (max-width:768px) {
    .plan-grid{
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile View */

@media screen and (max-width:425px) {
    .plan-grid{
        grid-template-columns: 1fr;
    }

    .plan-name{
        font-size: .9rem;
    }
    
    .plan-price{
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .plan-duration{
        color: #95acda;
        font-weight: bold;
        font-size: .9rem;
    }
    
    .plan-btn{
        font-size: 1.2rem;
    }

    .services-head{
        font-size: 1.2rem;
    }

    th,tr{
        font-size: .8rem;
    }
}

@media screen and (max-width:466px) {
    .services-grid{
        grid-template-columns: 1fr;
    }
}
/* Hero Images */

.hero-image-one{
    position: relative;
    background-color: #171C26 !important;
    background: url(../img/about/banner5.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 400px;
    background-blend-mode: difference;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content-one {
    text-align: center;
    color: #ffffff; 
   
}
/* CSS for the hero heading */
.hero-head-one {
    font-size: 36px; 
    font-weight: bold;
    text-shadow: 2px 2px #ff0000;

}

/* CSS for the register button */
.banner-register-button1 a {
    padding: 10px 20px;
    background-color: #ff0000; 
    color: #ffffff; 
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; 
}

.banner-register-button1 a:hover {
    background-color: #cc0000; 
}