/* Default styles for all screen sizes */
img {
    max-width: 100%;
    height: auto;
    
  }
  
  /* Media query for mobile devices (up to 767px) */
  @media (max-width: 767px) {
    
    img {
      max-width: 100%;  
      height: auto;
    }
  }
  
  /* Media query for tablet devices (768px to 1023px) */
  @media (min-width: 768px) and (max-width: 1023px) {
  
    img {
      max-width: 100%;
    }
  }
  